// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.
push static 0
pop temp 0

// neg=0
push constant 0
pop temp 1

// a=0
push constant 0
pop local 0

// if x<0
push temp 0
push constant 0
lt
not
if-goto Loop

push constant 1
pop temp 1

//x=|x|
push temp 0
neg
pop temp 0



label Loop

// x>0
push temp 0
push constant 0
gt
if-goto InLoop

goto EndLoop
label InLoop

// x -= 1
push temp 0
push constant 1
sub
pop temp 0

push static 1
push local 0
add
pop local 0

goto Loop
label EndLoop



push temp 1
push constant 0
eq
if-goto END

push local 0
neg
pop local 0



label END
goto END
