// Calculates a = x*y
// a is a local variable
// x & y are static variables

// Put your code here.
push constant 0
pop local 0

label LOOP
    push argument 0 
    push constant 1
    leq
    if-goto END

    //Add x to a
    push local 0
    push static 0
    add
    pop local 0

    //Decrement y
    push static 1
    push constant 1
    sub
    pop static 0

goto LOOP

label END
pop local 0
goto END